<div class="md-toolbar-tools" data-ng-controller="Dashboard as vm" layout="row" layout-align="space-around center">
  <div class="md-toolbar-tools" layout="row" layout-align="space-around center">
    <!-- <a ui-sref="landing.home">
      <img src="./assets/images/logo.png">
      <h2>AppBar</h2>
    </a> -->

    <div class="blog-heading">
	  	<h1 style="transform: scale(0.75) translateZ(0px); text-transform: capitalize;">{{vm.title()}}</h1>
	</div>

	<!-- Extract links to widget -->
    <ul layout="row">
    	<li></li>
    	<li></li>
    	<li></li>
    	<li></li>
    	<li class="m-up-blog">
	        <form>
	          <md-button ng-click="" class="md-icon-button material-icons">
	            <ng-md-icon icon="search" aria-label="search" size="24"></ng-md-icon> 
	          </md-button>
	        </form>
	      </li>
	      <li class="m-up-blog">
	        <md-menu md-position-mode="target-right target">
	          <md-button ng-click="$mdOpenMenu()" class="md-icon-button material-icons">
	            <ng-md-icon icon="more_vert" aria-label="More" size="24"></ng-md-icon> 
	          </md-button>

	          <md-menu-content width="3">
	            <md-menu-item>
	              <md-button ng-click="goToUrl('landing.home')">
	                <ng-md-icon icon="home" aria-label="home" size="24"></ng-md-icon> 
	                Home
	              </md-button>
	            </md-menu-item>
	            <md-menu-item>
	              <md-button ng-click="logout()">
	                 <ng-md-icon icon="arrow_back" aria-label="logout" size="24"></ng-md-icon> 
	                Logout
	              </md-button>
	            </md-menu-item>
	          </md-menu-content>

	        </md-menu>
	      </li>
    </ul>
  </div>
</div>
