$sidebar-width: sidebar-width(2);
.about {
    position: relative;
    background: $aqua-haze;
    overflow: hidden;
    .sidenav {
        border-right: 1px solid $aqua-haze;
        background: $mako;
        display: block;
        position: fixed;
        bottom: 0;
        padding: calc(15vh) 0 0;
        border-top: 1px solid $aqua-haze;
        @include media('>850px') {
            height: calc(100vh - 80px);
            top: 80px;
        }
        @include media('>960px') {
            left: 0;
        }
        @include media('<=850px') {
            height: calc(100vh - 64px);
            top: 64px;
        }
        @include media('<=768px') {
            right: 0;
            width: px2em(200px);
            z-index: -1;
            height: calc(100vh - 56px);
            top: 50px;
            html.nav-expanded::-webkit-scrollbar {
                display: none;
            }
            html.nav-expanded & {
                z-index: 0;
            }
        }
        header {
            ul {
                vertical-align: middle;
                display: block;
                margin: 0 auto;
                padding: 10px 0;
                li {
                    padding: 5px 10%;
                    position: relative;
                    a {
                        transition: color .2s ease-in;
                        -webkit-transition: color .2s ease-in;
                        &.active {
                            color: $white;
                            //define other styles to make it full and curvy at the right
                            &:after {
                                position: absolute;
                                content: "";
                                width: 0px;
                                height: 0px;
                                border-top: 10px solid transparent;
                                border-right: 10px solid $aqua-haze;
                                border-bottom: 10px solid transparent;
                                top: 18%;
                                right: 0;
                                @include media('<=768px') {
                                    border-top: 10px solid transparent;
                                    border-left: 10px solid $aqua-haze;
                                    border-right: 0;
                                    left: 0;
                                    border-bottom: 10px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    svg.logo-icon {
        fill: $color-primary;
        width: 48px;
        height: 48px;
        &:hover {
            fill: darken($color-primary, 5%);
        }
    }
    .about-main {
        height: auto;
        display: block;
        padding: 40px 0;
        .drawer-about {
            opacity: 0;
            visibility: hidden;
            transform: opacity .5s ease-in;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            -webkit-transition: transform .3s ease;
            transition: transform .3s ease;
            &.flip {
                transform: rotate(180deg);
            }
        }
        @include media('>850px') {
            min-height: calc(100vh - 80px);
        }
        @include media('<=850px') {
            min-height: calc(100vh - 56px);
        }
        @include media('<=768px') {
            .drawer-about {
                opacity: 1;
                visibility: visible;
                margin-bottom: 5px;
            }
        }
        .grid {
            max-width: 1430px;
            float: left;
            margin: 0 -15px;
            position: relative;
            @include media('<768px') {
                float: none;
                width: 100%;
                margin: 0;
                .grid__col--12 {
                    .about-block {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

section.page-container {
    @include media('<=768px') {
        html.nav-expanded & {
            left: -px2em(200px);
            right: px2em(200px);
            overflow: hidden;
            -webkit-transition: right 0.5s ease, left 0.5s ease;
            transition: right 0.5s ease, left 0.5s ease
        }
        div.about-main {
            z-index: 1;
        }
    }
}

@include media('<=768px') {
    [class^="grid__col--"]:last-of-type {
        float: none;
    }
    [class^="grid__col--"]+[class^="grid__col--"] {
        margin-left: 0;
    }
}

//History
.hero {
    position: relative;
    overflow: hidden;
    z-index: 0;
    border-radius: 5px 5px 0 0;
    &.intro {
        background: $amber;
    }
    &.aims {
        background: $froly;
    }
    &.operations {
        background: $astral;
    }
    &.nec {
        background: $light-wisteria;
    }
    .hero-meta {
        padding: 30px 15px 10px;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
        .grid__col--3 {
            @include media('<=768px') {
                display: none;
            }
        }
    }
    h1 {
        font-size: 36px;
        color: #FFF;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 15px;
        display: block;
    }
    h3 {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        margin: 0 0 10px;
        display: block;
        opacity: 0.5;
    }
    p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 1.5;
        margin-bottom: 30px;
    }
    .achievement-hero {
        background: none;
        text-align: center;
        position: absolute;
        top: 0;
        right: 15px;
        svg {
            @include media('<768px') {
                display: none;
            }
        }
    }
    @include media('<=768px') {
        border-radius: 0;
    }
}

.text-body {
    p {
        @include text(px2em(16px), 1.5, 400, $mako);
        margin-bottom: 30px;
    }
}

.list-table {
    background: #f9fafa;
    padding: 0 0 10px;
    border-top: 1px solid #e8ebed;
    border-radius: 0 0 5px 5px;
    ul {
        li {
            list-style-type: none;
            small {
                display: block;
                padding: 20px 30px 20px 110px;
                border-bottom: 1px solid #edeff0;
                overflow: hidden;
                -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
                p {
                    float: right;
                    font-size: 14px;
                    margin-left: 10px;
                    margin-bottom: 0;
                    line-height: 1.2;
                    color: #7b8b8e;
                }
                strong {
                    font-weight: 500;
                    color: #576366;
                    font-size: 14px;
                    //overflow: hidden;
                    //text-overflow: ellipsis;
                    //white-space: nowrap;
                    display: block;
                    line-height: 1.2;
                }
                icon {
                    float: left;
                    margin: -7px 0 -7px -65px;
                }
            }
        }
    }
}

.achievement-hero {
    background: #f3f4f5;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    overflow: hidden;
    font-size: 0;
    border-radius: 0 5px 5px 0;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
