.button {
    font-size: 16px;
    height: 52px;
    line-height: 48px;
    padding: 0 32px;
    &.cta {
        margin-top: 30px;
    }
    &.inverse {
        opacity: 0.88;
        border-color: $white;
        color: $white;
    }
}

.btn{
    display: inline-block;
    background: $color-primary;
    color: $white;
    font-size: 13px;
    font-weight: 700;
    padding: 11px 20px 13px;
    min-width: 117px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background 150ms ease-out;
    -moz-transition: background 150ms ease-out;
    -o-transition: background 150ms ease-out;
    transition: background 150ms ease-out;

    .featured-post & {
        a{
            color: $white;
        }
    }
}