// ===========================================================
// Grid Container
// ===========================================================
.grid {
    @extend %clearfix;
    @extend .centered;
    width: 90%;
    // Make nested grid container 100%
    [class*="grid__col--"] > & {
        width: 100%;
    }
    // Set a max-width for grid container
    @media(min-width: 1100px) {
        max-width: $g-cont-max-w;
    }
}

.container {
    margin: 0 auto;
    @include media('>600px', '<=1024px') {
        max-width: 90%;
    }
    @include media('>1024px', '<=1400px') {
        max-width: 80%;
    }
    @include media('>1400px', '<=1600px') {
        max-width: 70%;
    }
    @include media('>1600px') {
        max-width: 60%;
    }
    .flex-grid & {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        @include media('<=1200px') {
            width: 100%;
        }
        @include media('>600px', '<=1024px') {
            max-width: none;
        }
        @include media('>1024px', '<=1400px') {
            max-width: none;
        }
        @include media('>1400px', '<=1600px') {
            max-width: none;
        }
        @include media('>1600px') {
            max-width: none;
        }
    }
}

.flex-grid {
    padding-bottom: 50px;
    padding-top: 5pc;
}

.secondary-info {
    h6 {
        @include text(14px);
        margin-bottom: 0
    }
    p {
        @include text(13px);
    }
}

.card-title {
    position: relative;
    background: $white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    border-radius: 5px 5px $br--default $br--default;
    color: $text-color--secondary;
    display: block;
    min-height: 310px;
    position: relative;
    padding: 88px 30px 30px;
    strong {
        @include text(14px, 12px, null, lighten($text-color--secondary, 10%));
        display: block;
        margin: 0 0 8px;
    }
    strong,
    h3,
    .description {
        -webkit-transition: color 300ms ease;
        transition: color 300ms ease;
    }
    h3 {
        @include text(18px, 24px, null, darken($text-color--secondary, 20%));
        margin: 0 0 20px;
    }
    .description {
        @include text(14px, null, null, lighten($text-color--secondary, 10%));
        position: relative;
        z-index: 0;
        overflow: hidden;
        margin: 0;
    }
    a & {
        cursor: pointer;
        &:hover {
            strong {
                color: $text-color--secondary
            }
            h3 {
                color: darken($text-color--secondary, 5%);
            }
            .description {
                color: $text-color--secondary
            }
        }
    }
}

.topic-html {
    .card-progress {
        background-color: $color-secondary;
    }
    .button.md-primary {
        background-color: $color-secondary;
        border-color: $color-secondary;
        color: $white;
        text-transform: inherit;
        md-icon > svg {
            fill: $white;
        }
    }
}

.card {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 0 15px;
    -webkit-transition: -webkit-transform 50ms ease;
    transition: transform 50ms ease;
    -webkit-animation: card-fade-up 0.5s ease;
    animation: card-fade-up 0.5s ease;
    @include media('<=679px') {
        margin-bottom: 20px;
    }
    @include media('>680px') {
        margin-bottom: 30px;
    }
    @include media('>820px') {
        margin: 0 40px 0 0;
    }
    .description {
        font-size: 14px;
    }
    html:not(.ie) & {
        @extend %clearfix;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 250ms ease-in, box-shadow 250ms ease-in;
        transition: transform 250ms ease-in, box-shadow 250ms ease-in;
        -webkit-animation: pulse_card 1000ms 1500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 3;
        animation: pulse_card 1000ms 1500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 3;
        &:hover {
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03);
            -webkit-animation-play-state: paused;
            animation-play-state: paused
        }
    }
}

.card-progress {
    position: absolute;
    border-radius: $br--default $br--default 0 0;
    color: $white;
    display: block;
    height: 58px;
    line-height: (58px / 16px);
    top: 0;
    left: 0;
    right: 0;
    padding: 0 30px;
    svg {
        fill: $white;
        height: 18px;
        width: 18px;
        margin-right: 15px;
        position: relative;
        top: 4px;
    }
    span.estimate {
        @include text(px2em(13px), null, 500, $white);
        float: right;
    }
}
